<div class="content-box danger">
	<div class="content-box-info">
		<div class="content-box-info-screen">
			<div class="content-box-info-screen-box-weixin" id="weixinBox">
				<img src="http://image.wuzei.org/htdocs/images/qrcode_344.jpg" alt="" class="content-box-info-screen-box-weixin-img">
				<p class="content-box-info-screen-box-weixin-info">关注微信账号了解更多信息</p>
			</div>
			<div class="content-box-info-screen-box container">
				<p class="content-box-info-screen-box-title">疑似泄漏！请扫描二维码</p>
				<!-- <p style="
    font-size: 15px;
    /* height: 0px; */
    width: 100%;
    height: 15px;
    line-height: 15px;
    margin-top: 5px;
    text-align: center;
    color: #fff;
">（关注微信账号nottheft，扫描右侧二维码，获取泄露详情）</p> -->
				<div class="content-box-info-screen-box-timeline-hiddle" id="timeLineHiddle">
					<div class="content-box-info-screen-box-timeline" id="timeLine">
						<ul class="content-box-info-screen-box-timeline-line" id="timeLineUl">
							<li class="content-box-info-screen-box-timeline-line-li"><a href="">2014.1</a>
								<div class="content-box-info-screen-box-timeline-line-light"></div>
							</li>
						</ul>
					</div>
					<div id="timeLineColor" class="content-box-info-screen-box-timeline-backgroundLine"></div>
				</div>
				<div class="content-box-info-screen-box-prompt" id="promptBox">
					<ul class="content-box-info-screen-box-prompt-ul" id="promptUlWidth">
						<li class="content-box-info-screen-box-prompt-ul-li">
							<p class="content-box-info-screen-box-prompt-title">2014.1在某电商类类网络泄露</p>
							<p class="content-box-info-screen-box-prompt-info">(本次泄露共有21376条数据)</p>
						</li>
					</ul>
				</div>
				<!-- <div class="content-box-info-screen-left" id="screenLeft"></div> -->
				<a class="content-box-info-screen-left-onclick" href="" id="screenLeftA"></a>
				<!-- <div class="content-box-info-screen-right" id="screenRight"></div> -->
				<a class="content-box-info-screen-right-onclick" href="" id="screenRightA"></a>
			</div>
		</div>
	</div>
</div>