<div class="content-box safe">
	<div class="content-box-info">
		<div class="content-box-info-screen">
			<div class="content-box-info-screen-box-weixin" id="weixinBox">
				<img src="http://image.wuzei.org/htdocs/images/qrcode_344.jpg" alt="" class="content-box-info-screen-box-weixin-img">
				<p class="content-box-info-screen-box-weixin-info">关注微信账号了解更多信息</p>
			</div>
			<div class="content-box-info-screen-box-safe container">
				<p>暂时安全</p>
				<!-- <p style="margin-top:10px;font-size:16px;height:16px;line-height:16px;">(关注微信账号nottheft了解更多信息)</p> -->
			</div>
		</div>
	</div>
</div>