<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="HandheldFriendly" content="true">
		<meta name="apple-mobile-web-app-capable" content="YES">
		<title>无贼-身边的互联网信息保护专家</title>
		<meta name="keywords" content="无贼网,无贼云安,信息泄露,个人信息泄露,信息泄露查询, 密码泄露查询, 隐私泄露查询, qq信息泄露查询, qq泄露查询,账号泄露查询,邮箱泄露查询, 身份证泄露查询,身份泄露查询,手机号泄露查询,账号保护,隐私保护" />
		<meta name="description" content="无贼是全国首家个人网络账号及隐私保护产品。提供账号安全实时风险分析与评估、账号隐私泄露查询、账号隐私泄露预警、账号安全保护、个人隐私保护等服务，以及提供防骗知识库，安全专家在线解答、重大安全事件推送等特色功能，为您的账号隐私安全保驾护航!" />
		<link rel="stylesheet" type="text/css" href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/home.css" type="text/css">
		<style>
			.header-box {
				width: 100%;
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
			}
			@media screen and (max-width: 400px) {
				.header-box {
					position: absolute;
				}
			}
			@media screen and (max-width: 400px) {
				#footer {
					display: none;
				}
			}
		</style>
		<link rel="stylesheet" href="lib/jquery/jquery.fullPage.css">
		<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/templates.js"></script>
		<script type="text/javascript" src="/js/bundle.js"></script>
		<script src="lib/jquery/jquery.easings.min.js"></script>
		<script src="lib/jquery/jquery.slimscroll.min.js"></script>
		<script src="lib/jquery/jquery.fullPage.js"></script>
		<script src="lib/jquery/jquery.inview.min.js"></script>
		<script type="text/javascript" src="/js/isweb.js"></script>
	</head>

	<body>
		<div class="wuzei-content" id="fullpage">
			<section class="wuzei-content-one section" id="onePart">
				<header class="header-box">
					<div class="container">
						<div class="header-logn">
							<img class="header-logn-img" src="img/logn.png" alt=""> </div>
						<div class="header-text-left">
							<p>身边的互联网信息保护专家</p>
						</div>
						<div class="header-text-right">
							<p class="header-p-text">
								<a class="header-p-text-a" href="/" id="btnHome">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a> </p>
							<p class="header-p-text header-p-text-active"> <b class="header-p-text-a" setid="btnWuzei" sethref="/wuzei">认识无贼</b>
							</p>
							<p class="header-p-text"> <a class="header-p-text-a" href="/more" id="btnMore">了解更多</a>
							</p>
						</div>
					</div>
				</header>
				<div class="container wuzei-content-one-box">
					<div class="wuzei-content-one-box-left">
						<img src="img/phone.png" width="100%" height="100%" alt="" class="wuzei-content-one-box-img">
					</div>
					<div class="wuzei-content-one-box-right">
						<img src="img/wuzei.png" width="100%" height="100%" alt="" class="wuzei-content-one-box-right-one">
						<img src="img/wuzeiOneTitle.png" width="100%" height="100%" alt="" class="wuzei-content-one-box-right-two">
						<img src="img/weixin.png" width="100%" height="100%" alt="" class="wuzei-content-one-box-right-three">
						<p class="wuzei-content-one-box-right-p">关注微信公众号
							<br>NOTHEFT</p>
					</div>
				</div>
				<div class="wuzei-content-down">
					<a href="#page2"></a>
				</div>
			</section>
			<section class="wuzei-content-two section" id="twoPart">
				<div class="container wuzei-content-two-box">
					<ul class="wuzei-content-two-box-ul">
						<li id="liLangBackground1" class="active" data-animation="pop-up" data-delay="200">
							<img src="img/2-1.png" alt="与众多网站和安全公司合作，构建严密的网络信息安全保护网，涵盖泄露的网络账号及隐私信息<br>（您提交的所有信息都会按照高等级数据保护标准加密)" title="严密的网络信息安全保护网">
						</li>
						<li id="liLangBackground2" data-animation="pop-up" data-delay="400">
							<img src="img/2-2.png" alt="全新的互联网爬取引擎<br>可以监控到包括黑色地下交易链在内的互联网每个隐藏角落" title="敏锐的网络数据监控技术">
						</li>
						<li id="liLangBackground3" data-animation="pop-up" data-delay="600">
							<img src="img/2-3.png" alt="全球首创信息安全分析引擎及账号风险监测技术，可对您的账号安全进行实时评估<br>一旦发现您的信息遭受泄露，我们会第一时间发出预警和通知" title="信息泄露风险实时评估及快速预警">
						</li>
						<li id="liLangBackground4" data-animation="pop-up" data-delay="800">
							<img src="img/2-4.png" alt="使用无贼的产品，相当于雇佣了一个免费的全天候保镖<br>享受7*24的安全保护服务 " title="全天候、无断点保护您的账号安全">
						</li>
					</ul>
				</div>
				<div class="wuzei-content-down">
					<a href="#page3"></a>
				</div>
			</section>
			<section class="wuzei-content-three section" id="threePart">
				<div class="container wuzei-content-three-box">
					<ul class="wuzei-content-three-box-left">
						<li data-animation="fadeIn" data-delay="200">
							<img class="wuzei-content-three-box-li-left" src="img/3-1.png" alt="">
							<div class="wuzei-content-three-box-li-right">
								<h3>信息泄露查询</h3>
								<p>查找你的账号
									<br>隐私是否已遭泄露</p>
							</div>

						</li>
						<li data-animation="fadeIn" data-delay="400">
							<img class="wuzei-content-three-box-li-left" src="img/3-3.png" alt="">
							<div class="wuzei-content-three-box-li-right">
								<h3>信息泄露预警</h3>
								<p>发现信息泄露
									<br>第一时间发出预警和通知</p>
							</div>
						</li>
						<li data-animation="fadeIn" data-delay="600">
							<img class="wuzei-content-three-box-li-left" src="img/3-5.png" alt="">
							<div class="wuzei-content-three-box-li-right">
								<h3>防骗知识库</h3>
								<p>骗术揭秘
									<br>让您熟知骗子的诈骗伎俩
									<br>提升防骗技能</p>
							</div>
						</li>
					</ul>
					<ul class="wuzei-content-three-box-right">
						<li data-animation="fadeIn" data-delay="800">
							<img class="wuzei-content-three-box-li-left" src="img/3-2.png" alt="">
							<div class="wuzei-content-three-box-li-right">
								<h3>账号安全评估</h3>
								<p>检测你的账号被盗
									<br>隐私泄露风险</p>
							</div>
						</li>
						<li data-animation="fadeIn" data-delay="1000">
							<img class="wuzei-content-three-box-li-left" src="img/3-4.png" alt="">
							<div class="wuzei-content-three-box-li-right">
								<h3>安全专家在线</h3>
								<p>反欺诈专家贴心服务
									<br>为您解答遇到的安全难题</p>
							</div>
						</li>
						<li data-animation="fadeIn" data-delay="1200">
							<img class="wuzei-content-three-box-li-left" src="img/3-6.png" alt="">
							<div class="wuzei-content-three-box-li-right">
								<h3>公共消息推送</h3>
								<p>信息泄露重大安全事件推送
									<br>及时检查快速应对</p>
							</div>
						</li>
					</ul>
				</div>
				<footer class="container" id="footer">
					<p class="footer-p">浙ICP备14040499号-1｜博盾习言科技</p>
				</footer>
			</section>
		</div>
		<script>
			function fullpageAuto() {
				$('#fullpage').fullpage({
					slidesColor: ['#999999', '#999999', '#999999'],
					anchors: ['page1', 'page2', 'page3'],
					navigation: true
				});
			}
			fullpageAuto();
		</script>
		<script>
			$(document).ready(function($) {
				var $container = $('.wuzei-content-two-box'),
					$elements = $('.wuzei-content-two-box-ul').children('li'),
					maxWidthOnMobile = parseInt($('body').data('screen-md')),
					currentIndex = 0,
					lastMode = '',
					sliderDuration = 5000,
					sliderInterval = '';
				if (!maxWidthOnMobile) {
					maxWidthOnMobile = 768;
				};
				initialize = function() {
					if (!$('.wuzei-content-two-box-info-blockquote').length) {
						var $testimonial = $('<blockquote  class="wuzei-content-two-box-info-blockquote"></blockquote >').appendTo($container);
						var $image = $elements.filter('.active').find('img'),
							testimonialText = "<h3>" + $image.attr('title') + "<h3>" + "<p>" + $image.attr('alt') + "</p>";
						$testimonial.html(testimonialText);
					}
				}
				activate = function($elem) {
					if ($elem.hasClass('active')) return;
					$elements.removeClass('active');
					$elem.addClass('active');
					var $image = $elem.find('img'),
						testimonialText = "<h3>" + $image.attr('title') + "<h3>" + "<p>" + $image.attr('alt') + "</p>";
					$('.wuzei-content-two-box-info-blockquote').fadeOut(300, function() {
						$(this).html(testimonialText).fadeIn(300)
					});
				}
				hoverEvent = function(e) {
					activate($(this));
				}
				initialize();
				$(window).on("load resize", function() {
					var currentMode = ($(window).width() <= maxWidthOnMobile) ? 'small_screen' : 'large_screen';
					if (currentMode != lastMode) {
						if (currentMode == 'small_screen') {
							$elements.off('mouseenter mouseout', hoverEvent);
							sliderInterval = setInterval(function() {
									currentIndex = (currentIndex == $elements.length - 1) ? 0 : ++currentIndex;
									activate($($elements[currentIndex]));
								},
								sliderDuration);
						} else {
							clearInterval(sliderInterval);
							$elements.on('mouseenter mouseout', hoverEvent);
						}
						lastMode = currentMode;
					}
				});

			});
			/*$(function(){
				$('a[href*=#]').click(function() {
					$elements=$('#fp-nav').find('a');
					if($(this).hasClass('activeBackground'))return;
					$elements.removeClass('activeBackground');
					$(this).addClass('activeBackground');
					if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
						var $target = $(this.hash);
						$target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
						if ($target.length) {
							var targetOffset = $target.offset().top;
							$('html,body').animate({
									scrollTop: targetOffset
							},1000);
							return false;
						}
					}
				});
			});*/
			/*						$(function(){
			    $('#fullpage').fullpage({
					slidesColor: ['#999999', '#999999', '#999999', '#999999'],
					anchors: ['page1', 'page2', 'page3', 'page4'],
					navigation: true
				});
			    				var windowHeight = $(window).height();
			    				var windowWidth = $(window).width();
							$('#onePart').css({'height':windowHeight});
							$('#twoPart').css({'height':(windowHeight+80),'margin-top':'-80px'});
							$('#threePart').css({'height':(windowHeight+80),'margin-top':'-80px'});
							$('#fourPart').css({'height':(windowHeight+80),'margin-top':'-80px'});
							if(windowWidth<=1400){
								$('footer').css({'margin-top':'-60px'});
							}
							var threePartLi = $('.wuzei-content-three-box').find('li');
							var threePartLiMarginTop = 60*windowHeight/640;
							threePartLi.css({'margin-top':threePartLiMarginTop});
							var threePartMarginTop = (windowHeight-640)/2;/*alert(threePartMarginTop)*/
			/*$('.wuzei-content-three-box').css({'margin-top':(threePartMarginTop-25)+'px','margin-bottom':'-80px'});

});*/
		</script>
		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1254050368'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254050368' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</body>

</html>