.sectionOne {
  background: url(../img/index-bg.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.sectionOne #headerOne {
  height: 117px;
  width: 100%;
}
.sectionOne #headerOne .headerImg {
  height: 32px;
  width: 100%;
  margin-top: 64px;
  text-align: center;
  float: left;
}
.sectionOne #headerOne .headerImg img {
  width: 105px;
}
/*================================*/
.sectionTwo {
  overflow: hidden;
  position: relative;
}
.sectionTwo #headerTwo {
  position: relative;
  height: 20%;
  min-height: 114px;
  width: 100%;
  background: url(../img/title-bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.sectionTwo #headerTwo .header-wrap {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 100%;
  text-align: center;
  float: left;
  height: 90px;
}
.sectionTwo #headerTwo .header-wrap p {
  font-size: 17px;
  text-align: center;
  height: 17px;
  width: 100%;
  line-height: 17px;
  color: #edefff;
  margin-top: 12px;
  float: left;
}
.sectionTwo .content-box.desc {
  margin: 15px 10px;
}
.sectionTwo .content-box.desc p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 14px;
  text-indent: 2em;
}
.sectionTwo .content-footer {
  margin-top: 3px;
  height: 75px;
}
.sectionTwo .content-footer .content-footer-left {
  width: 70px;
  margin: 10px;
  float: left;
}
.sectionTwo .content-footer .content-footer-right {
  width: auto;
  height: 55px;
  margin-top: 22px;
  padding-left: 10px;
  float: left;
  border-left: 1px dashed #e4e4e4;
  margin-bottom: 0;
}
.sectionTwo .content-footer .content-footer-right .p1 {
  font-size: 11px;
  color: #adadad;
  line-height: 22px;
}
.sectionTwo .content-footer .content-footer-right .p2,
.sectionTwo .content-footer .content-footer-right .p3 {
  font-size: 8px;
  color: #adadad;
  line-height: 16px;
}
