.sectionOne .content-search {
  margin: 0 10px;
}
.content-search {
  height: 40px;
  background-color: #fff;
}
.content-search .content-search-input:hover {
  border: none;
}
.content-search .content-search-input {
  border: none;
  height: 100%;
  width: 80%;
  font-size: 14px;
  font-size: 1.4rem;
  float: left;
  outline: none;
  color: #b2b2b2;
  padding: 0;
  background-color: #fff;
  margin-left: 10px;
}
.content-search .content-search-a {
  float: right;
  height: 100%;
  text-align: center;
  display: block;
  cursor: pointer;
  background: #5a6cc1;
  background-size: 100%;
  width: 50px;
  border: 1px solid #fff;
}
.content-search .content-search-a i {
  font-size: 16px;
  color: #fff;
}
.content-search .content-search-p {
  height: 100%;
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 29px;
}
.content-search .content-search-p i {
  font-size: 16px;
  font-size: 1.6rem;
  height: 11px;
  line-height: 11px;
  color: #ffffff;
  font-style: normal;
  margin-right: 5px;
}
#search-header {
  padding: 10px;
  height: auto;
  width: 100%;
  background: #fff;
}
#search-header .search-header-a {
  background: url(../img/logn3.png) no-repeat 12px 10%;
  background-size: 23px;
  height: 32px;
  width: 42px;
  margin-top: 5px;
  display: block;
  float: left;
}
#search-header .content-search {
  height: 40px;
  margin-left: 46px;
  background-color: #fff;
  border: 1px solid #9b95c9;
}
#search-header .content-search .content-search-input:hover {
  border: none;
}
#search-header .content-search .content-search-input {
  border: none;
  height: 100%;
  width: 70%;
  font-size: 14px;
  float: left;
  outline: none;
  color: #000;
  padding: 0;
  background-color: #fff;
  margin-left: 7px;
}
