footer {
  margin-top: 70px;
  position: relative;
  bottom: 10px;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 400px) {
  #footer {
    display: none;
  }
}
.footer-p {
  font-family: "宋体";
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #ccc;
  margin-bottom: 10px;
}
.footer-p a {
  color: #ccc;
}
